@import "../../_variables.styl"

.logo
  color color-main
  cursor pointer
  display block
  font-family header--font-family
  font-size text--font-size
  font-weight header--font-weight--bold
  letter-spacing 1px
  line-height text--line-height
  text-decoration none
  z-index 200

  &--contrast
    color color-white