@import "../../_variables.styl"

.logo
  color color__base--white
  display block
  font-family header-text__font-family
  font-size normal-text__font-size
  font-weight header-text__font-weight--bold
  letter-spacing 1px
  line-height normal-text__line-height
