@import "../../_variables.styl"

.text
  color color__base--main
  display inline-block
  font-family text--font-family
  font-size text--font-size
  font-weight text--font-weight--normal
  line-height text--line-height
  margin 0 0 margin 0
  text-decoration none

.text--contrast
  color color__base--main--contrast;