@import "../../_variables.styl"

.text
  color color__base--black
  display inline-block
  font-family normal-text__font-family
  font-size normal-text__font-size
  font-weight normal-text__font-weight--normal
  line-height normal-text__line-height
  margin 0 0 margin--base 0
  text-decoration none