@import "../../_variables.styl"

.header
  color color__base--main
  display block
  font-family header--font-family
  font-weight header--font-weight--bold

  &--main
    font-size header__main--font-size
    letter-spacing header--letter-spacing
    line-height header__main--line-height
    margin header__main--margin

  &--sub
    font-size header__sub--font-size
    line-height header__sub--line-height
    margin header__sub--margin

  &--small
    font-size header__small--font-size
    line-height header__small--line-height
    margin header__small--margin

  &--tiny
    font-weight header--font-weight--light
    font-size header__tiny--font-size
    line-height header__tiny--line-height
    margin header__tiny--margin
    text-transform uppercase

  &--promo
    font-weight header--font-weight--light
    font-size header__small--font-size
    line-height header__small--line-height
    margin header__small--margin

  &--contrast
    color color__base--white