@import "../../_variables.styl"

.header
  color color-main
  display block
  font-family header--font-family
  font-weight header--font-weight--bold
  word-wrap break-word

  &--main
    font-size header--main--font-size
    letter-spacing header--letter-spacing
    line-height header--main--line-height
    margin header--main--margin

    header--main--mobile = @block {
      font-size header--main--font-size--mobile
      line-height header--main--line-height--mobile
      margin header--main--margin--mobile
    }

    @media --mq-mobile.iphone4-5s--p, --mq-mobile.iphone6-8--p, --mq-mobile.iphone6p-XsM--p, --mq-mobile.galaxy45--p, --mq-mobile.galaxy6--p, --mq-mobile.iphone4--l {
      {header--main--mobile}
    }

  &--sub
    font-size header--sub--font-size
    line-height header--sub--line-height
    margin header--sub--margin

    header--sub--mobile = @block {
      font-size header--sub--font-size--mobile
      line-height header--sub--line-height--mobile
      margin header--sub--margin--mobile
    }

    @media --mq-mobile.iphone4-5s--p, --mq-mobile.iphone6-8--p, --mq-mobile.iphone6p-XsM--p, --mq-mobile.galaxy45--p, --mq-mobile.galaxy6--p, --mq-mobile.iphone4--l {
      {header--sub--mobile}
    }

  &--small
    font-size header--small--font-size
    line-height header--small--line-height
    margin header--small--margin

    header--small--mobile = @block {
      font-size header--small--font-size--mobile
      line-height header--small--line-height--mobile
      margin header--small--margin--mobile
    }

    @media --mq-mobile.iphone4-5s--p, --mq-mobile.iphone6-8--p, --mq-mobile.iphone6p-XsM--p, --mq-mobile.galaxy45--p, --mq-mobile.galaxy6--p, --mq-mobile.iphone4--l {
      {header--small--mobile}
    }

  &--tiny
    font-weight header--font-weight--light
    font-size header--tiny--font-size
    line-height header--tiny--line-height
    margin header--tiny--margin
    text-transform uppercase

    header--tiny--mobile = @block {
      font-size header--tiny--font-size--mobile
      line-height header--tiny--line-height--mobile
      margin header--tiny--margin--mobile
    }

    @media --mq-mobile.iphone4-5s--p, --mq-mobile.iphone6-8--p, --mq-mobile.iphone6p-XsM--p, --mq-mobile.galaxy45--p, --mq-mobile.galaxy6--p, --mq-mobile.iphone4--l {
      {header--tiny--mobile}
    }

  &--promo
    font-weight header--font-weight--light
    font-size header--small--font-size
    line-height header--small--line-height
    margin header--small--margin

  &--no-margin-top
    margin-top 0

  &--contrast
    color color-gray--lightest