/* Fonts*/

font-size--zoom--100 = 16px
font-size--zoom--125 = 13px
font-size--zoom--150 = 11px
font-size--zoom--175 = 10px

header-text__font-family = 'Josefin Sans', sans-serif
header-text__font-weight--bold = 700
header-text__font-weight--light = 300
header-text__letter-spacing = 2px

normal-text__font-family = 'Montserrat', sans-serif
normal-text__font-weight--normal = 400
normal-text__font-weight--bold = 600
normal-text__margin = 1rem 0 1rem
normal-text__line-height = 1.6rem
normal-text__letter-spacing = 0
normal-text__font-size = 1rem
normal-text__font-size--small = .8rem

h1--font-size = 3rem
h2--font-size = 2rem
h3--font-size = 1.4rem
h4--font-size = 1.4rem
h5--font-size = 1.4rem

h1--font-size--mobile = 2rem
h2--font-size--mobile = 1.6rem
h3--font-size--mobile = 1.2rem
h4--font-size--mobile = 1.2rem
h5--font-size--mobile = 1.2rem

h1--margin = 4rem 0 3rem
h1--margin--without-top = 4rem 0 3rem
h2--margin = 3rem 0 1.5rem
h2--margin--without-top = 0 0 1.5rem
h3--margin = 2rem 0 1rem
h3--margin--without-top = 0 0 1rem
h4--margin = 2rem 0 1rem
h4--margin--without-top = 0 0 1rem
h5--margin = 2rem 0 1rem
h5--margin--without-top = 0 0 1rem

h1--margin--mobile = 3rem 0 1.5rem
h2--margin--mobile = 3rem 0 1.5rem
h3--margin--mobile = 2rem 0 1rem
h4--margin--mobile = 2rem 0 1rem
h5--margin--mobile = 2rem 0 1rem

h1--line-height = 3.5rem
h2--line-height = 2.5rem
h3--line-height = 1.8rem
h4--line-height = 1.8rem
h5--line-height = 1.8rem

h1--line-height--mobile = 2.5rem
h2--line-height--mobile = 2.1rem
h3--line-height--mobile = 1.6rem
h4--line-height--mobile = 1.6rem
h5--line-height--mobile = 1.6rem

/* Colors */

color__base--white = #ffffff

color__base--red = #E40606
color__red--l1 = #E83333
color__red--l2 = #ED6060
color__red--l3 = #F28D8D
color__red--d1 = #BB0505
color__red--d2 = #920404
color__red--d3 = #680303

color__base--black = #040F16
color__black--l1 = #313A40
color__black--l2 = #5F666A
color__black--l3 = #8C9195
color__black--l4 = #BABDBF
color__black--l5 = #E8E9E9

color__base--smoke = #F6F5F0

/* Margin's */

margin--base = 1rem
margin--small = 0.5rem
margin--tiny = 2px
margin--big = 2rem
margin--huge = 4rem

/* Padding's */

padding--base = 1rem
padding--small = 0.5rem
padding--tiny = 2px
padding--big = 2rem
padding--huge = 4rem

/* Opacity */

opacity--hover = .80
opacity--hover--big = .68
opacity--focus = .80
opacity--focus--big = .68
opacity--active = .68
opacity--active--big = .50
opacity--bg = .92
opacity--shadow = .2

/* Scale */

scale--click = .97

/* Media Queries */

/* So many specific point need for first fullscreen promo page on mobile.
   On bigger size header and promo-text size not so important.
*/

/* Mobile & Tablet */

/* Portrait */

mq__mobile--iphone455s--p = 320px
mq__mobile--iphone455s--p--res = 2dppx

mq__mobile--galaxy3--p = 320px
mq__mobile--galaxy3--p--res = 2dppx

mq__mobile--galaxy45--p = 320px
mq__mobile--galaxy3--p--res = 3dppx

mq__mobile--galaxy6--p = 360px
mq__mobile--galaxy6--p--res = 4dppx

mq__mobile--iphone66s78--p = 375px
mq__mobile--iphone66s78--p--res = 2dppx

mq__mobile--iphoneX--p = 375px
mq__mobile--iphoneX--p-res = 3dppx

mq__mobile--iphone6p7p8p--p = 414px
mq__mobile--iphone6p7p8p--p--res = 3dppx

/* Landscape */

mq__mobile--iphone455s--l = 480px
mq__mobile--iphone455s--l--res = 2dppx

mq__mobile--iphone55s--l = 568px
mq__mobile--iphone55s--l--res = 2dppx

mq__mobile--galaxy3456--l = 640px
mq__mobile--galaxy3--l--res = 2dppx
mq__mobile--galaxy45--l--res = 3dppx
mq__mobile--galaxy6--l--res = 4dppx

mq__mobile--iphone66s78--l = 667px
mq__mobile--iphone66s78--l--res = 2dppx

mq__mobile--iphoneX--l = 812px
mq__mobile--iphoneX--l-res = 3dppx

mq__mobile--iphone6p7p8p--l = 736px
mq__mobile--iphone6p7p8p--l--res = 3dppx

/* Global queries */

mq__desktop--start = 1024px
mq__desktop-huge--start = 1200px
mq__full--hd = 1920px

/* Desktop windows dpi */

mq__windows--100 = 96dpi
mq__windows--125 = 120dpi
mq__windows--150 = 144dpi
mq__windows--175 = 150dpi

/* Max width */

max-width = 75rem + padding--big* 2

/* Border-radius */

border-radius = 6px
border-radius--big = 9px

/* Box-shadow */

box-shadow = 0 0 50px rgba(color__black--l1, .48)

/* Buttons */

btn__border-radius--top-left = 6px
btn__border-radius--top-right = 6px
btn__border-radius--bottom-left = 6px
btn__border-radius--bottom-right = 6px
btn__background = color__red--l3
btn__background--hover = color__red--l2
btn__background--active = color__red--l1
btn__padding = .5rem 1rem
btn__padding--v = .5rem
btn__padding--h = 1rem
btn__padding--v--big = 1rem
btn__padding--h--big = 2rem
btn__font-size = .8rem
btn__font-family = normal-text__font-family
btn__font-weight = normal-text__font-weight--bold
btn__letter-space = 2px
btn__color = color__base--white
btn__transform = uppercase

/* Times */

times--elements--speed = .38s ease-in-out
times--elements = .68s ease-in-out

/* Icons */

icon--size = .9rem
icon--margin--right = .5rem
icon-middle--size = 1.4rem
icon-middle--margin--right = 1rem
icon-big--size = 4rem
icon-big--margin--right = 2rem


