///////////////////////////////////////////////////////////////////////////////
// Fonts
///////////////////////////////////////////////////////////////////////////////

font-size--zoom--100 = 16px
font-size--zoom--125 = 13px
font-size--zoom--150 = 11px
font-size--zoom--175 = 10px

text--font-family = 'Montserrat', sans-serif
text--font-weight--normal = 400
text--font-weight--bold = 600
text--margin = 1rem 0 1rem
text--line-height = 1.6rem
text--letter-spacing = 0
text--font-size = 1rem
text__small--font-size = .8rem

header--font-family = 'Josefin Sans', sans-serif
header--font-weight--bold = 700
header--font-weight--light = 300
header--letter-spacing = 2px

header__main--font-size = 3rem
header__sub--font-size = 2rem
header__small--font-size = 1.4rem
header__tiny--font-size = 1.4rem

header__main--font-size--mobile = 2rem
header__sub--font-size--mobile = 1.6rem
header__small--font-size--mobile = 1.2rem
header__tiny--font-size--mobile = 1.2rem

header__main--margin = 4rem 0 3rem
header__sub--margin = 3rem 0 1.5rem
header__small--margin = 2rem 0 1rem
header__tiny--margin = 2rem 0 1rem

header__main--margin--mobile = 3rem 0 1.5rem
header__sub--margin--mobile = 3rem 0 1.5rem
header__small--margin--mobile = 2rem 0 1rem
header__tiny--margin--mobile = 2rem 0 1rem

header__main--margin--no-top = 0 0 3rem
header__sub--margin--no-top = 0 0 1.5rem
header__small--margin--no-top = 0 0 1rem
header__tiny--margin--no-top = 0 0 1rem

header__main--margin--mobile--no-top = 0 0 1.5rem
header__sub--margin--mobile--no-top = 0 0 1.5rem
header__small--margin--mobile--no-top = 0 0 1rem
header__tiny--margin--mobile--no-top = 0 0 1rem

header__main--line-height = 3.5rem
header__sub--line-height = 2.5rem
header__small--line-height = 1.8rem
header__tiny--line-height = 1.8rem

header__main--line-height--mobile = 2.5rem
header__sub--line-height--mobile = 2.1rem
header__small--line-height--mobile = 1.6rem
header__tiny--line-height--mobile = 1.6rem

///////////////////////////////////////////////////////////////////////////////
// Colors
///////////////////////////////////////////////////////////////////////////////

/*
  For creating colors pallet I use https://coolors.co/
  You can use any instruments and services or generate it automatically with
  built-in functions in Stylus (but be careful with colors born in math)
*/

color-main = #040E14

color-brand--lightest = #F28D8D
color-brand--lighten = #ED6060
color-brand--light = #E83333 // color-brand - 2 steps
color-brand = #E40606
color-brand--dark = #BB0505 // color-brand + 2 steps
color-brand--darken = #920404
color-brand--darkest = #680303

color-gray--lightest = #F2F3F3 // contrast for color-main
color-gray--lighten = #DFE1E1
color-gray--light = #CCCFCF
color-gray = #BABDBE // color-main - 8 steps
color-gray--dark = #8C9194
color-gray--darken = #5F6569
color-gray--darkest = #31393E

// Additional colors

color-white = #FFFFFF
color-smoke = #F6F5F0
color-success = #189853
color-warning = #F7D002
color-danger = #F02D3A
color-info = #f3ecbe

///////////////////////////////////////////////////////////////////////////////
// Margins
///////////////////////////////////////////////////////////////////////////////

margin--tiny = 2px
margin--small = 0.5rem
margin--base = 1rem
margin--big = 2rem
margin--huge = 4rem

///////////////////////////////////////////////////////////////////////////////
// Paddings
///////////////////////////////////////////////////////////////////////////////

padding--tiny = 2px
padding--small = 0.5rem
padding--base = 1rem
padding--big = 2rem
padding--huge = 4rem

///////////////////////////////////////////////////////////////////////////////
// Opacities
///////////////////////////////////////////////////////////////////////////////

opacity--hover = .80
opacity--hover--big = .68
opacity--focus = .80
opacity--focus--big = .50
opacity--active = .68
opacity--active--big = .38
opacity--bg = .92
opacity--shadow = .2

///////////////////////////////////////////////////////////////////////////////
// Media Queries
///////////////////////////////////////////////////////////////////////////////
/*
  So many specific point need for first fullscreen promo page on mobi.
  You can use only base queries.
  Please, remember about Windows system resizes if you don't want to get
  a bigger site on the small screen with a huge resolution
*/

// Desktop windows dpi

mq-windows--100 = 96dpi
mq-windows--125 = 120dpi
mq-windows--150 = 144dpi
mq-windows--175 = 150dpi

// Global queries

mq-desktop--start = 1024px
mq-desktop-big--start = 1200px
mq-full--hd = 1920px

// Mobile & Tablet

// Portrait

--mq-mobile = {
  iphone4-5s--p: '(max-width: 320px) and (min-resolution: 2dppx) and (orientation: portrait)',
  iphone6-8--p: '(max-width: 375px) and (min-resolution: 2dppx) and (orientation: portrait)',
  iphone6p-XsM--p: '(max-width: 414px) and (min-resolution: 3dppx) and (orientation: portrait)',
  galaxy45--p: '(max-width: 320px) and (min-resolution: 3dppx) and (orientation: portrait)',
  galaxy6--p: '(max-width: 360px) and (min-resolution: 4dppx) and (orientation: portrait)',
  iphone4--l: '(max-width: 480px) and (min-resolution: 2dppx) and (orientation: landscape)',
  iphone55s--l: '(max-width: 568px) and (min-resolution: 2dppx) and (orientation: landscape)',
  iphone6-8--l: '(max-width: 667px) and (min-resolution: 2dppx) and (orientation: landscape)',
  iphone6p-8p--l: '(max-width: 736px) and (min-resolution: 3dppx) and (orientation: landscape)',
  iphoneX-Xs--l: '(max-width: 812px) and (min-resolution: 3dppx) and (orientation: landscape)',
  iphoneXsM--l: '(max-width: 896px) and (min-resolution: 3dppx) and (orientation: landscape)',
  galaxy3--l: '(max-width: 640px) and (min-resolution: 2dppx) and (orientation: landscape)',
  galaxy4-5--l: '(max-width: 640px) and (min-resolution: 3dppx) and (orientation: landscape)',
  galaxy6--l: '(max-width: 640px) and (min-resolution: 4dppx) and (orientation: landscape)'
}

///////////////////////////////////////////////////////////////////////////////
// Buttons
///////////////////////////////////////////////////////////////////////////////

btn--border-radius--top-left = 6px
btn--border-radius--top-right = 6px
btn--border-radius--bottom-left = 6px
btn--border-radius--bottom-right = 6px
btn--background = color-brand--lightest
btn--background--hover = color-brand--lighten
btn--background--active = color-brand--light
btn--padding--v = .5rem
btn--padding--h = 1rem
btn--padding--v--big = 1rem
btn--padding--h--big = 2rem
btn--font-size = .8rem
btn--font-family = text--font-family
btn--font-weight = text--font-weight--bold
btn--letter-space = 2px
btn--color = color-white
btn--transform = uppercase

///////////////////////////////////////////////////////////////////////////////
// Icons
///////////////////////////////////////////////////////////////////////////////

icon-size--small = .9rem
icon-size--base = 2rem
icon-size--big = 4rem
icon-size--huge = 6rem

///////////////////////////////////////////////////////////////////////////////
// Other
///////////////////////////////////////////////////////////////////////////////

times--elements--speed = .38s ease-in-out
times--elements = .68s ease-in-out
max-width = 75rem + padding--big* 2
border-radius = 6px
border-radius--big = 9px
box-shadow = 0 0 50px rgba(color-gray--darkest, .48)
scale--click = .97


