/* This styles created only for demo and example.
   This is not a part of Vostok1. All you need locate in src/styl/
 */
@import "styl/_variables"
@import "styl/blocks/layout"
@import "styl/blocks/header"
@import "styl/blocks/text"
@import "styl/blocks/link"
@import "styl/blocks/logo"
@import "styl/blocks/menu"
@import "styl/blocks/hamburger"
@import "styl/blocks/list"
@import "styl/blocks/img"
@import "styl/blocks/icon"
@import "styl/blocks/btn"

body
  background url('./img/bg.jpg') right -140px no-repeat #00112b

.main-nav
  display block
  overflow hidden
  transform all times--elements

  &--mobile--menu-open
    @media screen and (max-width mq-desktop--start)
      background-color color-gray--darken
      height 100vh
      position fixed
      width 100%
      z-index 100

.main-nav__wrapper
  @extend $layout__col2

  align-items baseline
  grid-template-columns 200px auto
  margin-top margin--huge

  @media screen and (max-width mq-desktop--start)
    display grid
    grid-template-columns 1fr 1fr
    grid-template-rows 1fr auto

.nav__logo
  justify-self start

.nav__menu
  justify-self end

  @media screen and (max-width mq-desktop--start)
    display none

  &--mobile--menu-open
    @media screen and (max-width mq-desktop--start)
      align-items center
      display flex
      flex-direction column
      grid-column 1 / 3
      grid-row 2
      justify-content center
      justify-self center
      min-height 80vh

.promo__wrapper
  border-bottom 1px solid rgba(255, 255, 255, 0.38)
  margin-top 20vh
  max-width 62%
  overflow hidden
  padding-bottom 8rem

  @media screen and (max-width mq-desktop--start)
    max-width 100%

.introduction__wrapper
  max-width 62%
  padding-bottom padding--huge

  @media screen and (max-width mq-desktop--start)
    max-width 100%

.uikit
  background-color color-gray--lightest
  padding padding--huge 0

.uikit__wrapper
  align-items center
  display grid
  grid-column-gap margin--big
  grid-row-gap margin--base
  grid-template-columns 62% auto

  @media all and (max-width: mq-desktop--start)
    display flex
    flex-direction column
    align-items flex-start

.uikit__header
  border-bottom 1px solid color-gray--light
  margin-top margin--huge
  padding-bottom padding--base
  text-transform uppercase

  @media all and (max-width: mq-desktop--start)
    display none

.uikit__item
  display block
  margin-bottom 0
  margin-top 0

.tag-name
  @extend .text

  background-color color-info
  border 1px solid color-gray--light
  border-radius border-radius
  display inline-block
  font-size text__small--font-size
  margin 0
  padding .2rem .5rem

  @media all and (max-width: mq-desktop--start)
    margin margin--big 0

.uikit__container--color
  background-color rgba(204, 207, 207, 0.69)

.uikit__wrapper--color
  background-color rgba(204, 207, 207, 0.69)
  min-height 200px
  text-align justify

.uikit--content--fullwidth
  grid-column 1 / 3

  @media all and (max-width: mq-desktop--start)
    grid-column inherit
    width 100%

.uikit__container--col2
  @extend $layout__col2

.uikit__container--col3
  @extend $layout__col3

.uikit__container--col4
  @extend $layout__col4

.uikit__container--col5
  @extend $layout__col5

.uikit__container--col6
  @extend $layout__col6

.uikit__container--col2-62-38
  @extend $layout__col2--62-38

.uikit__container--col2-38-62
  @extend $layout__col2--38-62

.uikit__icon--left--huge
  @extend $layout__wrapper--icon-left--huge

  background-color transparent
  margin margin--base 0

.uikit__icon--top--huge
  @extend $layout__wrapper--icon-top--huge

  background-color transparent
  margin margin--base 0

.footer
  background color-gray--light

.footer__wrapper
  @extend $layout__col2

  align-items baseline
  padding padding--big 0

.footer__link
  justify-self end
